header.top{
  height: 400px;
  width: 100%;
  /* margin-top: 120px; */
  background-color: #e6008e;
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
}

header h2{
  text-align: center;
}

.top img{
  margin: 0 auto;
  display: block; 
  position: relative;
}



@media only screen and (min-width: 1024px) {
  header.top{
    width: 40%;
    float: left;
    margin: 60px;
  }
  header h2 {
    font-size: 44px;
  }
  .top img {
    width: 256px;
    height: 256px;
  }
}