/* The navigation bar */
nav {
  color: #ffffff;
  background-color: #4056A1;
  padding: 1.5em;
  position: sticky;
  box-shadow: 0 0 11px #272214;
  top: 0;
  height: 120px;
  justify-content: space-between;
}

.write-arrow {
  float: right;
  position: relative;
  transition: box-shadow .3s;
}

.write-arrow:hover{
  box-shadow: 0 0 11px #272214;


.fas fa-angle-double-down {
  float: right;
  box-shadow: 0 0 11px #272214;
}