/* The navigation bar */
nav{
  color: #ffffff;
  background-color: yellow;
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
  padding: 1.5em;
  position: sticky;
  top: 0;
  height: 120px;
  justify-content: space-between;
  z-index: 9000;
}

.write{
  float: right;
  position: relative;
}

.write-arrow{
  text-align: center;
  color: black;
}

.write-arrow:hover{
  color: red;
}

/* for desktop */
@media only screen and (min-width: 1024px) {
nav{
  position: fixed;
  width: 100%;
  background-color: yellow;
  margin-bottom: 0;
}
}