.tweet-container-box{
  width: 100%;
  background-color: transparent;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  outline: none;
  transition: box-shadow .3s;
}

.tweet-container-box:hover{
  box-shadow: 0 0 11px #272214;
}

.tweet-container-box header{
  margin-left: 2%;
}

.tweet-container-box h3{
  display: inline-block;
}

.tweet-container-box h4{
  float: right;
  margin-right: 2%;
}

.tweet-container-box p{
  margin-left: 5%;
  display: block;
}

.tweet-container-box footer{
    width: 95%;
    margin-left: 2%;
    border-top: 5px solid #545149;
    background-color: transparent;
}

.icons{
  float: right;
}

.tweet {
  border: 5px solid #545149;
  margin-bottom: 20px;
}

.tweet img{
  margin-top: 10px;
}